body {
    margin: 0;
    overflow: hidden;
}

#canvas-container {
    position: relative;
    background-color: black;

}


#ui-container {
    position: absolute;
    top:0px;
    left : 0px;
    width : 100%;
    height: 100%;
}

#game-container {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url('/public/maps/delta/collision_map_delta.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 1; /* Adjust the opacity to make it translucent */
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    opacity: 1;
}
#background-image {
    width: 100%;
    height: 100%;
    background-image: url('/public/maps/delta/Hoenn_Secret_Base_Delta.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; /* Center the background image initially */
    z-index: 0;
    opacity: 1;
}

#player {
    width: 50px;
    height: 50px;
    background-color: red;
    position: absolute;
}

.sliding-window {
    position: absolute;
    width: 20%; /* Initial width of the sliding window */
    height: 100%;
    background: rgba(255, 255, 255, 0.5); /* Background color for the window */
}

/* final year project styling */
#final-year-project{
    /* background-image: url('/public/unown_alpha.png'); */
    background-size: cover;
    width: 100px;
    height: 100px;
}

.doll_decor{
    width:75px;
    height:75px
}

#torchic{
    position: absolute;
    left: 100px;
    top: 400px;
}

#treecko{
    position: absolute;
    left: 200px;
    top: 400px;
}

#mudkip{
    position: absolute;
    left: 150px;
    top: 500px;
}

/* exits */

#exit3{
    position : absolute;
    /* 25 / 112, 33 /112, 15/256, 20/256 */
    width : 140px;
    height : 5px;
    top : 130px;
    left : 240px;
    /* top : 2210px; */
    /* left: -1850px; */
    padding: 0%;

}
#exit2{
    position : absolute;
    /* 100 / 112, 105 /112, 122/256, 127/256 */
    height : 140px;
    width : 5px;
    top : 1220px;
    left : 1000px;
    /* top : 3000px; */
    /* left: -770px; */
    padding: 0%;
}

#exit1{
    position : absolute;
    /* 25 / 112, 30 /112, 170/256, 185/256 */
    height : 140px;
    width : 5px;
    top : 1700px;
    left : 250px;
    /* top : 2250px; */
    /* left: -290px; */
    padding: 0%;


}
#exit{
    position : absolute;
    /* 50 / 112, 65 /112, 247/256, 252/256 */
    width : 140px;
    height : 5px;
    top : 2470px;
    left: 490px;
    padding: 0%;
}

/* text box styling */
@font-face {
    font-family: 'MyCustomFontv1';
    src: url('/public/fonts/chatbox_fontsv1.ttf') format('truetype');
  }
  @font-face {
    font-family: 'MyCustomFontv2';
    src: url('/public/fonts/pkmnrseu.ttf') format('truetype');
  }

