body {
    margin: 0;
    overflow: hidden;
}

#canvas-container {
    background-color: black;
    position: relative;
}


#ui-container {
    z-index: -1;
    position: absolute;
    top:0px;
    left : 0px;
    width : 100%;
    height: 100%;
}
#ui-container img {
    pointer-events: none;
}

#game-container {
    z-index: 1;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url('/public/maps/alpha/collision_map_alpha.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 1; /* Adjust the opacity to make it translucent */
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    opacity: 1;
    background-color: black;
}
#background-image {
    width: 100%;
    height: 100%;
    background-image: url('/public/maps/alpha/Hoenn_Secret_Base_Alpha.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; /* Center the background image initially */
    z-index: 0;
    opacity: 1;
}

#player {
    width: 90px;
    height: 125px;
    
}

.sliding-window {
    position: absolute;
    width: 20%; /* Initial width of the sliding window */
    height: 100%;
    background: rgba(255, 255, 255, 0.5); /* Background color for the window */
}

/* entrance */
#hello_sign{
    position: absolute;
    left: 1200px;
    top: 888px;
    width: 63px;
    height: 93px;
}

#csgo_aim_sign{
    position: absolute;
    left: 1200px;
    top: 456px;
    width: 63px;
    height: 93px;
}

#csgo_preface_sign{
    position: absolute;
    left: 1200px;
    top: 666px;
    width: 63px;
    height: 93px;
}
#welcome_mat{
    position: absolute;
    left: 1300px;
    top: 1010px;
    width: 126px;
    height: 70px;
}

/* left furnitures */
#table_monitor{
    position: absolute;
    left: 850px;
    top: 470px;
    width: 120px;
    height: 310px;
}
#stool{
    position: absolute;
    left: 752px;
    top: 519px;
    width: 78px;
    height: 78px;

}
#super_computer{
    position: absolute;
    left: 520px;
    top: 889px;
    width: 205px;
    height: 205px;
}
.gpu{
    height: 78px;
    width: 64.66px;
}
#gpu1{
    position: absolute;
    left: 770px;
    top: 880px;
}
#gpu2{
    position: absolute;
    left: 875px;
    top: 880px;
}
#gpu3{
    position: absolute;
    left: 770px;
    top: 1000px;
}
#gpu4{
    position: absolute;
    left: 875px;
    top: 1000px;
}

.dolls{
    width:105px;
    height: 105px;
}
#pikachu{
    position: absolute;
    left:150px;
    top:528px;
}
#togepi{
    position: absolute;
    left:150px;
    top: 640px;
}

/* right furnitures */
#right_sofa{
    position: absolute;
    left: 1900px;
    top: 535px;
    width: 110px;
    height: 230px;
}
#tv{
    position: absolute;
    left: 2050px;
    top: 370px;
    width: 100px;
    height: 135px;
}
#architect_table{
    position: absolute;
    left: 2060px;
    top:580px;
    width: 163px;
    height: 163px;
}
.book_v{
    height: 105px;
    width: 90px;
    left: 2475px;
}
.book_h{
    height: 80px;
    width: 100px;
    /* top : 965px; */
}

#book1{
    position: absolute;
    left: 1975px;
    top: 965px;
}
#book2{
    position: absolute;
    left: 2095px;
    top: 965px;
}
#book3{
    position: absolute;
    left: 2300px;
    top: 965px;
}
#book4{
    position: absolute;
    left: 2435px;
    top: 965px;
}
#book5{
    position: absolute;
    left: 2475px;
    top: 795px;
}
#book6{
    position: absolute;
    left: 2475px;
    top: 690px;
}

/* mats */

#left_mat{
    position: absolute;
    height: 340px;
    width: 340px;
    top: 490px;
    left:440px
}
#right_mat{
    position: absolute;
    height: 430px;
    width: 430px;
    top: 445px;
    left:1870px
}

/* leaf tables */

.leaf_table_vert{
    width: 150px;
    height: 260px;
}

.leaf_table_hori{
    width: 260px;
    height: 150px;
}

#table1{
    position: absolute;
    left:160px;
    top : 500px;

}
#table2{
    position: absolute;
    left:1935px;
    top : 960px;

}
#table3{
    position: absolute;
    left:2270px;
    top : 950px;

}
#table4{
    position: absolute;
    left:2430px;
    top : 660px;

}

/* blackboards */

#main_bb{
    position: absolute;
    top: 5px;
    left: 945px;
    width : 550px;
    height: 150px;
}
#peri_bb1{
    position: absolute;
    top: 400px;
    left: 1630px;
    width : 100px;
    height: 265px;
}
#peri_bb2{
    position: absolute;
    top: 680px;
    left: 1630px;
    width : 100px;
    height: 265px;
    /* transform: rotateY(-45deg) rotateX(-45deg); */

}

/* Guns */
.guns{
    width:320px;
    height:100px;
    top : 15px;
}

#ak47_1{
    position: absolute;
    left : 175px; 
}

#ak47_2{
    position: absolute;
    /* left: 300px; */
    /* top: 600px; */
    left : 550px;
}

#m4a1_1{
    position: absolute;
    left : 1625px;
}

#m4a1_2{
    position: absolute;
    left : 2000px;
}


/* exits */

#exit{
    position : absolute;
    /* 129 / 272, 144 /272, 117/128, 122/128 */
    width : 120px;
    height : 5px;
    top : 1200px;
    left: 1300px;

}

/* text box styling */
@font-face {
    font-family: 'MyCustomFontv1';
    /* src: url('/public/fonts/chatbox_fontsv1.ttf') format('truetype'); */
    src: url('pkmnrseu.ttf') format('truetype');
    src: url('PokemonRS.woff2') format('woff2'),
        url('PokemonRS.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;

    height : 50%;
  }
  @font-face {
    font-family: 'MyCustomFontv2';
    src: url('/public/fonts/pkmnrseu.ttf') format('truetype');
  }

